In [10]:
## You are working in a bank, and you have been given two lists of the employees who worked in 2021.
##Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita.
## Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [27]:
list1=['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob', 'Saritha']
list2=['Ali','Mukesh','Mahesh', 'Jacob','Sai', 'Sarita']
for i in list1:
  if i in list2:
    print(i)

Mahesh
Ali
Jacob

In [28]:
#While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”.
# Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.
#Ramesh:  25
#Suresh: 22
#Mohit: 26

In [29]:
name='Ramesh Suresh Mohit'.split()
age=[25,22,26]
sum=0
for i in age:
  sum= sum+i
print(f'names: {name}')
print(f'total age: {sum}')

names: ['Ramesh', 'Suresh', 'Mohit']
total age: 73

In [13]:
##You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol,
# 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35,
 # one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000.
  # Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [30]:
q_paracetamol=2
q_azithromycin=3
q_Vitamin_C=5

cost_paracetamol=35
cost_azithromycin=49
cost_vitamin_c=33

x=q_paracetamol*cost_paracetamol
y=q_azithromycin*cost_azithromycin
z=q_Vitamin_C*cost_vitamin_c

total=q_paracetamol*cost_paracetamol + q_azithromycin*cost_azithromycin +q_Vitamin_C*cost_vitamin_c
refund=2000-total
print(f'total_cost_paracetamol: {x}')
print(f'total_cost_azithromycin: {y}')
print(f'total_cost_vitamin_c: {z}')
print(f'total cost of all medicine: {total}')
print(f'refund: {refund}')

total_cost_paracetamol: 70
total_cost_azithromycin: 147
total_cost_vitamin_c: 165
total cost of all medicine: 382
refund: 1618

In [14]:
##Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example,
## I am learning python contains 6 vowels. This function should be applicable for all other different sentences

In [31]:
vowel="aeiouAEIOU"
sen=input()
count=0
for i in sen:
  if i in vowel:
     count=count+1
print(f'{sen} contains {count} vowel')

I am learning python
I am learning python contains 6 vowel

In [17]:
##You have been appointed by the election commission to create a website.
## Your first task is to work on a program which tells candidates if they are eligible for voting or not.
## If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years.
## The eligibility criteria for voting is 18 years.
## If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [32]:
age=int(input('enter your age = '))
if age>=18:
  print ('Congrats! You are eligible.')
else:

   print(f'return after {18-age} years.')

enter your age = 15
return after 3 years.

In [20]:
#Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.
##A = [1, 2, 3, 4, 5]
##Output:
##[1, 3, 6, 10, 15]

In [33]:
sum=0
A = [1, 2, 3, 4, 5]
B=[]

for i in A:
  sum=sum+i

  B.append(sum)

print(B)

[1, 3, 6, 10, 15]

In [23]:
#Write a program to implement run length encoding of a string
#RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.
#Enter your string :aabbbccdddae
#Encoded: 2a3b2c3d1a1e

In [34]:
user_input=input('Enter your string: ')
Encoded= ""
count=1
for i in range(1,len(user_input)):
  if user_input[i]==user_input[i-1]:
    count=count+1
  else:
       Encoded=Encoded+str(count)+user_input[i-1]
       count=1

Encoded=Encoded+ str(count)+ user_input[-1]
print(f'Encoded: {Encoded}')

Enter your string: aabbbccdddae
Encoded: 2a3b2c3d1a1e